@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-bg {
  background-color: #FFC734;
  color: #333333;
}
.primary-bg:hover {
  background-color: #FFB000;
  color: white;
}
.myHover {
  color: snow;
}
.myHover:hover {
  color: #FFC734;
  transition: color 0.3s ease-in-out;
}
.primary-fg {
  color: #FFC734;
}
.card-bg {
  background-color: #FFFFFF;
}
.card-bg:hover {
  background-color: #333333;
  transform: translate3d(0, -10px, 0);
  transition: background-color 0.8s ease-in-out;
  color: #FFFFFF;
  border: #F8F9FC 1px solid;
}

.service-bg {
  background-color: #333333;
}

.openmenu {
  animation: fadeIn 0.7s ease-in-out;
}
.closemenu {
  animation: fadeOut 0.7s ease-in-out;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0.9);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scaleY(0.9);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.logo-scroll-container {
  overflow: hidden;
  width: 100%;
  background-color: #F8F9FC;
  padding: 1rem 0;
}

.logo-scroll-track {
  display: flex;
  width: max-content;
  animation: scroll-logos 25s linear infinite;
}

.logo-scroll-container:hover .logo-scroll-track {
  animation-play-state: paused;
}

.logo-row {
  display: flex;
}

.logo-row img {
  height: 100px;
  margin: 0 2rem;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.logo-row img:hover {
  filter: grayscale(0%);
}

@keyframes scroll-logos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.testi-card:hover p, .testi-card:hover h3{
  color: white !important;
}

.testi-scroll-container {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}

.testi-scroll-track {
  display: flex;
  width: max-content;
  animation: scroll-logos 50s linear infinite;
}

.testi-scroll-container:hover .testi-scroll-track {
  animation-play-state: paused;
}

.testi-row {
  display: flex;
}

.testi-row div {
  width: 400px;
  margin: 0px 20px;
  padding: 50px 50px;
  transition: filter 0.3s;
}

@media screen and (max-width: 768px) {
  .testi-row div {
    width: 250px;
    margin: 0px 10px;
    padding: 30px 30px;
  }
  
}

.testi-row div:hover {
  border: 1px solid #ffffff;
}

@keyframes scroll-logos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}