@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-bg {
  background-color: #FFC734;
  color: #333333;
}
.primary-bg:hover {
  background-color: #FFB000;
}
.primary-fg {
  color: #FFC734;
}
.card-bg {
  background-color: #FFFFFF;
}
.card-bg:hover {
  background-color: #333333;
  transform: translate3d(0, -10px, 0);
  transition: background-color 0.8s ease-in-out;
  color: #FFFFFF;
}

.openmenu {
  animation: fadeIn 0.7s ease-in-out;
}
.closemenu {
  animation: fadeOut 0.7s ease-in-out;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0.9);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scaleY(0.9);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.coverScreen {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}